*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    transition: all 0.5s linear;
}

section{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.bussines-card{
    width: 640px;
    height: 360px;
    position: relative;
}

.bussines-card .front,
.bussines-card .back{
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 24px;
    overflow: hidden;
}

.bussines-card .front{
    background-color: #999 ;
    display: flex;
    justify-content: center;
}